@charset "utf-8";
$base-font-size: 46.875 !default;



$w: 75;

// @function rem($n) {
//     @return ($n/$w) + rem;
// }

$color1: #ffffff;

/**
*UI
*/

// red
$ui_color_red: #f04134;
$Red-1: lighten($ui_color_red,9*5);
$Red-2: lighten($ui_color_red,9*4);
$Red-3: lighten($ui_color_red,9*3);
$Red-4: lighten($ui_color_red,9*2);
$Red-5: lighten($ui_color_red,9*1);
$Red-6: lighten($ui_color_red,9*0);
$Red-7: darken($ui_color_red,9*1);
$Red-8: darken($ui_color_red,9*2);
$Red-9: darken($ui_color_red,9*3);
$Red-10: darken($ui_color_red,9*4);
// lighten(#f04134,0)

$ui_color_gray: #bfbfbf;
$Gray-1: lighten($ui_color_gray,9*5);
$Gray-2: lighten($ui_color_gray,9*4);
$Gray-3: lighten($ui_color_gray,9*3);
$Gray-4: lighten($ui_color_gray,9*2);
$Gray-5: lighten($ui_color_gray,9*1);
$Gray-6: lighten($ui_color_gray,9*0);
$Gray-7: darken($ui_color_gray,9*1);
$Gray-8: darken($ui_color_gray,9*2);
$Gray-9: darken($ui_color_gray,9*3);
$Gray-10: darken($ui_color_gray,9*4);


$Primary: $Red-6;


$White: #ffffff;
$Black: #000000;

$FontTitle: rgba($Black,0.75);
$FontBody: rgba($Black,0.65);
$FontCaption: rgba($Black,0.43);
$FontDisable: rgba($Black,0.25);
$FontLink: rgba($Black,0.25);


$ui_color_black: #333333;
$ui_color_white: #ffffff;
$ui_color_gray: #7c7c7c;
$ui_color_gray_bg: #f0f2f4;

$ui_color_text_0: #424242;
$ui_color_text_1: #8d8d8d;

$secondary_color_gray:#f2f2f2;

$c_tabbar_color_default: $ui_color_text_0;
$c_tabbar_color_selected: #fd5d01;
$c_gridlist_body_bg: $secondary_color_gray;

/**
* components
*/
$ax_tabs_height: 104px;
$ax_navbar_height: 100px;
$ax_navbar_top_height: 45px;

$ax_layout_bottom1_height: 104px;
$ax_layout_bottom_height: 104px;


$ax_layout_top_height: $ax_navbar_height + $ax_navbar_top_height;
$ax_layout_top1_height: $ax_navbar_height + $ax_navbar_top_height + 75px;

/**
*骨架
*/
$skeleton_color_bg: #fafafa;


  // .page-enter-active, .page-leave-active
  // {
  //   transition: opacity .5s
  // }
  // .page-enter, .page-leave-active
  // {
  //   opacity: 0
  // }


//   .app {
//     height: 100%;
//   }

//   .view-page {
//     position: absolute;
//     width: 100%;
//     // height: 100%;
//     // transition: all .5s linear;
//   }
//   .slide-left-enter, .slide-right-leave-active {
//     opacity: 1;
//     -webkit-transform: translate(100%, 0);
//     transform: translate(100%, 0);
//   }
//   .slide-left-leave-active, .slide-right-enter {
//     opacity: 1;
//     -webkit-transform: translate(-100%, 0);
//     transform: translate(-100%, 0);
//   }
//   // .slide-left-enter-active,.slide-left-leave-active {
//   //   transition: transform .5s linear;
//   // }
//   // .slide-right-enter-active,.slide-right-leave-active {
//   //   transition: transform .5s linear;
//   // }

  
// a {
//   text-decoration: none;
// }
  